@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "DingTalk";
  src: url("../assets/font/DingTalk JinBuTi.ttf");
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: DingTalk;
  -webkit-user-select: none;
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 12px;
  position: relative;
  overflow: hidden;
}

.scale-in-hor-left {
    animation: scale-in-hor-left .8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes scale-in-hor-left {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

.dragDiv {
  width: calc(100vw - 1rem);
  height: 18px;
  position: absolute;
  top: 0px;
}

.avatarEffect {
  animation: light 4s ease-in-out infinite;
  transition: 0.5s;
}

.champAvatarColorBlue {
  background-color: #66b3ff;
}
.champAvatarColorRed {
  background-color: #ff6666;
}
