@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "DingTalk";
  src: url("../assets/font/DingTalk JinBuTi.ttf");
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: DingTalk;
  -webkit-user-select: none;
}

.main {
  height: 100vh;
  width: 100vw;
  padding: 12px;
  position: relative;
}

.dragDiv {
  width: calc(100vw - 1rem);
  height: 18px;
  position: absolute;
  top: 0px;
}
