@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 3.5rem 0.5rem;
  position: relative;
}

.dragDiv {
  width: 100vw;
  height: 30px;
  position: absolute;
  top: -8px;
  left: -8px;
}
