@import "tailwindcss";

@font-face {
    font-family: "DingTalk";
    src: url("../assets/font/DingTalk JinBuTi.ttf");
}

:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: DingTalk, serif;
    -webkit-user-select: none;
}

.main {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: .5rem .5rem 3.5rem .5rem;
    position: relative;
}

.dragDiv {
    width: 100vw;
    height: 30px;
    position: absolute;
    top: -8px;
    left: -8px;
}

.mainContent {
    height: 616px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.avatarEffect {
    animation: light 4s ease-in-out infinite;
    transition: 0.5s;
}

.navDiv {
    border: 1px solid rgba(255, 255, 255, 0.09);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 48px;
    border-top-left-radius: .75rem;
    border-top-right-radius: .75rem;
}