@import "tailwindcss";

@font-face {
    font-family: "DingTalk";
    src: url("../assets/font/DingTalk JinBuTi.ttf");
}

:root {
    font-size: 16px;
}

::-webkit-scrollbar {
    width: 0;
}

body {
    font-family: DingTalk, serif;
    -webkit-user-select: none;
}

.main {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    padding: .5rem .5rem 3.5rem .5rem;
    position: relative;
}

.dragDiv {
    width: 100vw;
    height: 30px;
    position: absolute;
    top: -8px;
    left: -8px;
}