@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "DingTalk";
  src: url("../assets/font/DingTalk JinBuTi.ttf");
}

:root {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  font-family: DingTalk;
  -webkit-user-select: none;
}

@keyframes light {
  0% {
    box-shadow: 0 0 4px #ff6666;
  }

  25% {
    box-shadow: 0 0 16px #18a058;
  }

  50% {
    box-shadow: 0 0 4px #2080f0;
  }

  75% {
    box-shadow: 0 0 16px #f0a020;
  }

  100% {
    box-shadow: 0 0 4px #d03050;
  }
}

.main {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem 3.5rem 0.5rem;
  position: relative;
}

.dragDiv {
  width: 100vw;
  height: 30px;
  position: absolute;
  top: -8px;
  left: -8px;
}

.mainContent {
  height: 616px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
